<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :contact_number, style: "display: block" %>
    <%= form.telephone_field :contact_number %>
  </div>
  <div>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </div>
  <div>
    <%= form.label :bio, "About You", placeholder: "Tell us something about yourself...", style: "display: block" %>
    <%= form.text_area :bio %>
  </div>
  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>
  <div>
    <%= form.fields_for :address, profile.address do |address_form| %>
      <%= address_form.hidden_field :profile_id, value: current_user.id.to_s %>
      <%= address_form.label :street, "Address", style: "display: block" %>
      <%= address_form.text_field :street, placeholder: "Street", style: "display: block" %>
      <%= address_form.text_field :suburb, placeholder: "Suburb", style: "display: block" %>
      <%= address_form.text_field :city, placeholder: "City", style: "display: block" %>
      <%= address_form.text_field :state, placeholder: "State", style: "display: block" %>
      <%= address_form.text_field :country, placeholder: "Country", style: "display: block" %>
      <%= address_form.number_field :postcode, placeholder: "Postcode", style: "display: block" %>
      <%= address_form.submit %>
  </div>
    <% end %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
