<div id="<%=profile.id %>">
  
  <p>
    <strong>First name:</strong>
    <%= profile.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= profile.last_name %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= profile.contact_number %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= profile.username %>
  </p>
  <p>
    <strong>About You:</strong>
    <%= profile.bio %>
  </p>
</div>
