<div id="<%= dom_id buddy %>" class= "justify-content-md-center">
<h1 style="text-align:center"> <%= buddy.name %> </h1>
  <div class= "justify-content-md-center" >
    <% if buddy.avatar.attached? %>
        <%= cl_image_tag buddy.avatar.key, cloud_name: 'richapujara', class: "img-thumbnail rounded mx-auto d-block" %>
      <% else %>
        <%= cl_image_tag("avatar-icon-vector-female-user-person-profile-symbol-in-circle-flat-vector-id960699238_i0poko.jpg") %>
      <% end %>

  </div>
  <div style = "text-align:center; font-size: 1.2rem; " >
    <fieldset>
      <strong>Name: </strong>
      <%= buddy.name %>
    </fieldset>

    <fieldset>
      <strong>Description: </strong>
      <%= buddy.description %>
    </fieldset>

    <fieldset>
      <strong>Qualification: </strong>
      <%= buddy.qualification %>
    </fieldset>

    <fieldset>
      <strong>Location: </strong>
      <%= buddy.location %>
    </fieldset>
    <fieldset>
      <strong>Contact Number: </strong>
      <%= buddy.user.contact_number %>
    </fieldset>
  </div>

</div>

