<div id="<%= dom_id buddy %>">

  <p>
    <strong>Name: </strong>
    <%= buddy.name %>
  </p>

  <p>
    <strong>Description: </strong>
    <%= buddy.description %>
  </p>

  <p>
    <strong>Qualification: </strong>
    <%= buddy.qualification %>
  </p>

  <p>
    <strong>Location: </strong>
    <%= buddy.location %>
  </p>
  
  <% if buddy.avatar.attached? %>
  <p>
    <%= cl_image_tag buddy.key, transformation: ["media_lib_thumb"], cloud_name: 'richapujara' %>
  </p>
  <% end %>

</div>
