<div id="<%= dom_id buddy %>">
  

  <p>
    <strong>Name: </strong>
    <%= buddy.name %>
  </p>

  <p>
    <strong>Description: </strong>
    <%= buddy.description %>
  </p>

  <p>
    <strong>Qualification: </strong>
    <%= buddy.qualification %>>
  </p>

  <p>
    <strong>Location: </strong>
    <%= buddy.location %>
  </p>

</div>
