<div id="<%= dom_id buddy %>">

  <fieldset>
    <strong>Name: </strong>
    <%= buddy.name %>
  </fieldset>

  <fieldset>
    <strong>Description: </strong>
    <%= buddy.description %>
  </fieldset>

  <fieldset>
    <strong>Qualification: </strong>
    <%= buddy.qualification %>
  </fieldset>

  <fieldset>
    <strong>Location: </strong>
    <%= buddy.location %>
  </fieldset>

  <% if buddy.avatar.attached? %>
  <fieldset>
    <strong>Avatar: </strong>
  </fieldset>
  
 <fieldset>
    <%= cl_image_tag buddy.avatar.key, transformation: ["media_lib_thumb"], cloud_name: 'richapujara' %>
  </fieldset>
  <% end %>

</div>
