<%= form_with(model: buddy, data: {turbo: false}) do |form| %>
  <% if buddy.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(buddy.errors.count, "error") %> prohibited this buddy from being saved:</h2>

      <ul>
        <% buddy.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  <fieldset class="mb-2">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </fieldset>

  <fieldset class="mb-2">
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </fieldset>

  <fieldset class="mb-2">
    <%= form.label :qualification, style: "display: block" %>
    <%= form.text_field :qualification %>
  </fieldset>

  <fieldset class="mb-2">
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
 </fieldset>

  <fieldset class="mb-2">
    <%= form.label :avatar, style: "display: block" %>
    <%= form.file_field :avatar, data: {turbo: false} %>
  </fieldset>

  <% if buddy.avatar.attached? %>

  <fieldset class="mb-2">
      <%= cl_image_tag buddy.avatar.key, transformation: ["media_lib_thumb"], cloud_name: 'richapujara' %>
  </fieldset>

    <% end %>

  <fieldset class="mb-2">
      <%= form.submit %>
  </fieldset>
  
<% end %>

