<div id="workout_sessions">
  <%
=begin%>
 <% @buddy.workout_sessions.each do |workout_session| %> 
<%
=end%>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= "#{workout_session.name}" %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= "Workout Category: #{workout_session.workout_category}" %></h6>
          <p class="card-text"><%= "Schedule: #{workout_session.date}" %></p>
          <p class="card-text"><%= "Duration: #{workout_session.duration} minutes" %></p>
          <%= link_to "More details", buddy_workout_session_url(workout_session, workout_session.id)%>
      </div>
    </div>  
  <%
=begin%>
 <% end %> 
<%
=end%>
</div>



