<%= form_with(model: workout_session) do |form| %>
  <% if workout_session.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(workout_session.errors.count, "error") %> prohibited this workout_session from being saved:</h2>

      <ul>
        <% workout_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= form.label  :start_time, "Session Date and Time", style: "display: block" %>
    <%= form.datetime_local_field :start_time %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %> 
    <%= form.number_field :duration, in: 1..100 %> Minutes
  </div>

  <div>
    <%= form.label :workout_type, "Session type", style: "display: block" %>
    <%= form.select :workout_type, ["Personal", "Group"] %>
    
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :workout_category, style: "display: inline" %>
    <%= form.select :workout_category, ["Aerobics", "Zumba", "Yoga", "HIIT", "Cardio", "Full Body Training","Resistance","Express Workout","Pilates", "Recovery", "Post Pregnancy", "FIIT", "No Equipment", "Core", "Other"] %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :fees, style: "display: inline" %>
     $ <%= form.number_field :fees, in: 1.0..100.0, step: 0.05 %>
  </div>

  <div>
    <%= form.label :difficulty_level, style: "display: inline" %>
    <%= form.select :difficulty_level, %i[Beginner Intermediate Expert] %>
  </div>

  <div>
    <%= form.hidden_field :business_profile_id, value: current_user.business_profile.id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
