<div id="<%= dom_id workout_session %>">
  <p>
    <strong>Session Name:</strong>
    <%= workout_session.name %>
  </p>

  <p>
    <strong>Session Date and:</strong>
    <%= workout_session.date %>
  </p>

  <p>
    <strong>Session Duration:</strong>
    <%= workout_session.duration %>
  </p>

 <p>
    <strong>Workout type:</strong>
    <%= workout_session.workout_type %>
  </p>

  <p>
    <strong>Workout category:</strong>
    <%= workout_session.workout_category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= workout_session.description %>
  </p>

  <p>
    <strong>Fees:</strong>
    <%= workout_session.fees %>
  </p>

  <p>
    <strong>Difficulty level:</strong>
    <%= workout_session.difficulty_level %>
  </p>

</div>
