<div id="<%= dom_id workout_session %>">
  <p>
    <strong>Start time:</strong>
    <%= workout_session.start_time %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= workout_session.duration %>
  </p>

  <p>
    <strong>Workout type:</strong>
    <%= workout_session.workout_type %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= workout_session.date %>
  </p>

  <p>
    <strong>Workout category:</strong>
    <%= workout_session.workout_category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= workout_session.description %>
  </p>

  <p>
    <strong>Fees:</strong>
    <%= workout_session.fees %>
  </p>

  <p>
    <strong>Difficulty level:</strong>
    <%= workout_session.difficulty_level %>
  </p>

</div>
