<p style="color: green"><%= notice %></p>

<%= render @workout_session %>
<%= link_to "Edit", edit_buddy_workout_session_path(@workout_session.buddy, @workout_session.id) %>
<div>
  <%= link_to "back", :back %>
  
  
  <%
=begin%>
 <%= render "bookings/form", booking: @booking %>
  
  <%= link_to "Edit this workout session", edit_workout_session_path(@workout_session) %> |
  <%= link_to "Back to workout sessions", workout_sessions_path %>

  <%= button_to "Destroy this workout session", @workout_session, method: :delete %> 
<%
=end%>
  
</div>
