<p style="color: green"><%= notice %></p>
<div>
  <%= render @workout_session %>
  </div>
  <% if policy(WorkoutSession).edit? %>
    <div class="btn btn-primary">
      <%= link_to "Edit", edit_buddy_workout_session_path(@workout_session.buddy, @workout_session.id), class: "btn btn-primary" %>
    </div>  
  <% end %>
<div>

<% if user_signed_in? && @booking.nil? && ( current_user.buddy.nil? || current_user.buddy.id != @workout_session.buddy_id ) %>
  <%
=begin%>
 <div>
    <%= button_to "Book Session", workout_session_bookings_path(@workout_session.id),data: {turbo: false}, class: "btn btn-primary" %>
  </div> 
<%
=end%>
<button data-stripe = 'payment'> Book Session <%= number_to_currency(@workout_session.fees) %> </button>
<script src="https://js.stripe.com/v3/"></script>
<script>
  document.querySelector("[data-stripe='payment']").addEventListener("click",() => {
    const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
    stripe.redirectToCheckout({
      sessionId: "<%= @session_id %>"
    })
  })
</script>
<% end %>

<% if user_signed_in? && policy(@workout_session).edit? %>
  <div>
    <%= link_to "Edit this workout session", edit_workout_session_path(@workout_session), class: "btn btn-primary" %>
    <%= button_to "Destroy this workout session", @workout_session, class: 'btn btn-danger', method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete '#{@workout_session.name}' ?" } } %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to workout sessions", buddy_workout_sessions_path(@buddy), class: "btn btn-outline-primary" %>
</div>
